body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.navbar-brand img {

	height: 42px;
	margin: -15px auto;
}

p img, img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

section p {
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
}

footer {
	margin-top: 60px;
	padding: 10px;
	border-top: 1px solid #ddd;
}